.advice {
  padding: 137px 0 90px;
  background-color: $second-bg-color;
  @media (max-width: 767px) {
    padding: 20px 0 90px;
  }
  &__descr {
    margin-bottom: 45px;
  }
  &__items {
    margin-bottom: 40px;
    transform: translate(500%, 0);
  }
}
.item-advice {
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-bottom: 15px;
    max-width: 135px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  &__body {
    padding: 30px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100% !important;
  }
  &__picture {
    position: relative;
    padding: 0px 0px 60% 0px;
  }
  &__img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
